.root {
  display: flex;
  width: 100%;
  height: 100%;
  position: relative;
  flex-direction: column;
  align-items: center;
  background: linear-gradient(-262deg, #040503 0%, #414740 39%, #56ff8bb3 100%)
    0% 0% / cover repeat;
  min-width: 0;
  min-height: 0;
}
@media (min-width: 0px) and (max-width: 800px) {
  .root {
    padding: 64px 20px;
  }
}
.freeBox__pZmi {
  flex-direction: row;
  display: flex;
  width: 100%;
  position: relative;
  min-width: 0;
  padding: 16px;
}
.freeBox__pZmi > :global(.__wab_flex-container) {
  flex-direction: row;
  justify-content: center;
  align-items: center;
  min-width: 0;
  margin-left: calc(0px - 16px);
  width: calc(100% + 16px);
}
.freeBox__pZmi > :global(.__wab_flex-container) > *,
.freeBox__pZmi > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__pZmi > :global(.__wab_flex-container) > picture > img,
.freeBox__pZmi
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 16px;
}
@media (min-width: 0px) and (max-width: 400px) {
  .freeBox__pZmi {
    width: 100%;
    min-width: 0;
    padding: 32px;
  }
}
@media (min-width: 0px) and (max-width: 400px) {
  .freeBox__pZmi > :global(.__wab_flex-container) {
    min-width: 0;
  }
}
.freeBox__yHrZ3 {
  flex-direction: row;
  display: flex;
  position: relative;
  width: 100%;
  max-width: 1080px;
  min-width: 0;
}
.freeBox__yHrZ3 > :global(.__wab_flex-container) {
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  min-width: 0;
  margin-left: calc(0px - 16px);
  width: calc(100% + 16px);
}
.freeBox__yHrZ3 > :global(.__wab_flex-container) > *,
.freeBox__yHrZ3 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__yHrZ3 > :global(.__wab_flex-container) > picture > img,
.freeBox__yHrZ3
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 16px;
}
@media (min-width: 0px) and (max-width: 400px) {
  .freeBox__yHrZ3 {
    display: flex;
    flex-direction: column;
  }
}
@media (min-width: 0px) and (max-width: 400px) {
  .freeBox__yHrZ3 > :global(.__wab_flex-container) {
    flex-direction: column;
    align-items: center;
    margin-left: calc(0px - 0px);
    width: calc(100% + 0px);
    margin-top: calc(0px - 16px);
    height: calc(100% + 16px);
  }
}
@media (min-width: 0px) and (max-width: 400px) {
  .freeBox__yHrZ3 > :global(.__wab_flex-container) > *,
  .freeBox__yHrZ3 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .freeBox__yHrZ3 > :global(.__wab_flex-container) > picture > img,
  .freeBox__yHrZ3
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 0px;
    margin-top: 16px;
  }
}
.img___9HP0 {
  object-fit: cover;
  width: 40px;
  height: 40px;
  position: relative;
  flex-shrink: 0;
}
.img___9HP0 > picture > img {
  object-fit: cover;
}
.img___9HP0 > :global(.__wab_img-spacer) > img {
  object-fit: cover;
}
.freeBox__iGCk2 {
  flex-direction: row;
  display: flex;
  position: relative;
}
.freeBox__iGCk2 > :global(.__wab_flex-container) {
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  margin-left: calc(0px - 8px);
  width: calc(100% + 8px);
}
.freeBox__iGCk2 > :global(.__wab_flex-container) > *,
.freeBox__iGCk2 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__iGCk2 > :global(.__wab_flex-container) > picture > img,
.freeBox__iGCk2
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 8px;
}
@media (min-width: 0px) and (max-width: 400px) {
  .freeBox__iGCk2 > :global(.__wab_flex-container) {
    flex-wrap: wrap;
    justify-content: center;
    margin-top: calc(0px - 8px);
    height: calc(100% + 8px);
  }
}
@media (min-width: 0px) and (max-width: 400px) {
  .freeBox__iGCk2 > :global(.__wab_flex-container) > *,
  .freeBox__iGCk2 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .freeBox__iGCk2 > :global(.__wab_flex-container) > picture > img,
  .freeBox__iGCk2
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-top: 8px;
  }
}
.button2___6BIep:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
  align-self: flex-start;
}
.svg__i2Wvf {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
.text__xmScc {
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-weight: 500;
  font-style: normal;
  color: #1b1b18;
  text-align: left;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre;
  user-select: text;
  text-decoration-line: none !important;
  text-overflow: clip !important;
}
.svg__gIFd {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
.button2___87No6:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
  align-self: flex-start;
}
.svg__wJdme {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
.text__q8AIt {
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-weight: 500;
  font-style: normal;
  color: #1b1b18;
  text-align: left;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre;
  user-select: text;
  text-decoration-line: none !important;
  text-overflow: clip !important;
}
.svg__lBroV {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
.button2___95Hbg:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
  align-self: flex-start;
}
.svg__yw7T6 {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
.text__pCwOi {
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-weight: 500;
  font-style: normal;
  color: #1b1b18;
  text-align: left;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre;
  user-select: text;
  text-decoration-line: none !important;
  text-overflow: clip !important;
}
.svg___8GSws {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
.button2__q65D0:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
  align-self: flex-start;
}
.svg___2KRlg {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
.text__tz8IY {
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-weight: 500;
  font-style: normal;
  color: #1b1b18;
  text-align: left;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre;
  user-select: text;
  text-decoration-line: none !important;
  text-overflow: clip !important;
}
.svg__bozZ6 {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
.button2__fFsj4:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
  align-self: flex-start;
}
.svg___2N0Gy {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
.text__kfS8X {
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-weight: 500;
  font-style: normal;
  color: #1b1b18;
  text-align: left;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre;
  user-select: text;
  text-decoration-line: none !important;
  text-overflow: clip !important;
}
.svg__bJSrk {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
.button2__cUWhk:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
  align-self: flex-start;
}
.svg__qcmJn {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
.text__jdczK {
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-weight: 500;
  font-style: normal;
  color: #ededec;
  text-align: left;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre;
  user-select: text;
  text-decoration-line: none !important;
  text-overflow: clip !important;
}
.svg__nhae3 {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
.freeBox__gi89F {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
}
.button__s7Ed {
  font-size: 18px;
  line-height: 28px;
  color: #ffffff;
  font-weight: 500;
  background: #000000d9;
  font-family: "Inter", sans-serif;
  font-style: normal;
  text-align: left;
  text-transform: none;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
  border-radius: 6px;
  border-width: 0px;
}
.button2___1H2:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
  display: none;
}
.svg__skg0A {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
.text__aMm87 {
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-weight: 500;
  font-style: normal;
  color: #1b1b18;
  text-align: left;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre;
  user-select: text;
  text-decoration-line: none !important;
  text-overflow: clip !important;
}
.svg__hs6G {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
.freeBox__oqU9X {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  position: relative;
  width: 100%;
  align-content: unset;
  background: linear-gradient(#000000bf, #000000bf),
    url("https://images.unsplash.com/3/doctype-hi-res.jpg?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1346&q=80")
      left 50% top 50% / cover repeat;
  min-width: 0;
  padding: 128px 32px;
}
.img__fHm35 {
  object-fit: contain;
  width: 14.13%;
  height: 24.83%;
  position: relative;
  box-shadow: none;
  transform: none;
  align-self: flex-start;
  cursor: default;
  mix-blend-mode: hard-light;
  pointer-events: auto;
  isolation: isolate;
}
.img__fHm35 > picture > img {
  object-fit: contain;
}
.img__fHm35 > :global(.__wab_img-spacer) > img {
  object-fit: contain;
}
.freeBox___5Z05J {
  flex-direction: row;
  display: flex;
  position: relative;
  align-self: auto;
}
.freeBox___5Z05J > :global(.__wab_flex-container) {
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  margin-left: calc(0px - 8px);
  width: calc(100% + 8px);
}
.freeBox___5Z05J > :global(.__wab_flex-container) > *,
.freeBox___5Z05J > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox___5Z05J > :global(.__wab_flex-container) > picture > img,
.freeBox___5Z05J
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 8px;
}
@media (min-width: 0px) and (max-width: 400px) {
  .freeBox___5Z05J > :global(.__wab_flex-container) {
    flex-wrap: wrap;
    justify-content: center;
    margin-top: calc(0px - 8px);
    height: calc(100% + 8px);
  }
}
@media (min-width: 0px) and (max-width: 400px) {
  .freeBox___5Z05J > :global(.__wab_flex-container) > *,
  .freeBox___5Z05J > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .freeBox___5Z05J > :global(.__wab_flex-container) > picture > img,
  .freeBox___5Z05J
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-top: 8px;
  }
}
.button2___6VqQ:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
  align-self: flex-start;
}
.svg__yw3P {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
.text__w7GCm {
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-weight: 500;
  font-style: normal;
  color: #1b1b18;
  text-align: left;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre;
  user-select: text;
  text-decoration-line: none !important;
  text-overflow: clip !important;
}
.svg__gytuj {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
.button2__kn4Oc:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
  align-self: flex-start;
  display: flex;
}
.svg___9WDe3 {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
.text__cJco0 {
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-weight: 500;
  font-style: normal;
  color: #1b1b18;
  text-align: left;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre;
  user-select: text;
  text-decoration-line: none !important;
  text-overflow: clip !important;
}
.svg__w1E {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
.button2__yYnxm:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
  align-self: flex-start;
}
.svg__qcL6I {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
.text__wq8Sn {
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-weight: 500;
  font-style: normal;
  color: #ffffff;
  text-align: left;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre;
  user-select: text;
  text-decoration-line: none !important;
  text-overflow: clip !important;
}
.svg__rzGa9 {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
.button2__yuvEs:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
  align-self: flex-start;
}
.svg__jeLeA {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
.text___5URzb {
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-weight: 500;
  font-style: normal;
  color: #ededec;
  text-align: left;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre;
  user-select: text;
  text-decoration-line: none !important;
  text-overflow: clip !important;
}
.svg__qznDc {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
.freeBox__t4YA {
  flex-direction: row;
  display: flex;
  position: relative;
  width: auto;
  max-width: 1080px;
  height: auto;
}
.freeBox__t4YA > :global(.__wab_flex-container) {
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-left: calc(0px - 16px);
  width: calc(100% + 16px);
}
.freeBox__t4YA > :global(.__wab_flex-container) > *,
.freeBox__t4YA > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__t4YA > :global(.__wab_flex-container) > picture > img,
.freeBox__t4YA
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 16px;
}
@media (min-width: 0px) and (max-width: 400px) {
  .freeBox__t4YA {
    display: flex;
    flex-direction: column;
  }
}
@media (min-width: 0px) and (max-width: 400px) {
  .freeBox__t4YA > :global(.__wab_flex-container) {
    flex-direction: column;
    align-items: center;
    margin-left: calc(0px - 0px);
    width: calc(100% + 0px);
    margin-top: calc(0px - 16px);
    height: calc(100% + 16px);
  }
}
@media (min-width: 0px) and (max-width: 400px) {
  .freeBox__t4YA > :global(.__wab_flex-container) > *,
  .freeBox__t4YA > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .freeBox__t4YA > :global(.__wab_flex-container) > picture > img,
  .freeBox__t4YA
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 0px;
    margin-top: 16px;
  }
}
.freeBox__hbDgh {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
}
.button__ykXjQ {
  font-size: 18px;
  line-height: 28px;
  color: #ffffff;
  font-weight: 500;
  background: #000000d9;
  font-family: "Inter", sans-serif;
  font-style: normal;
  text-align: left;
  text-transform: none;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
  border-radius: 6px;
  border-width: 0px;
}
.button2__twqsb:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
  display: none;
}
.svg__diz46 {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
.text__lBlWa {
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-weight: 500;
  font-style: normal;
  color: #1b1b18;
  text-align: left;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre;
  user-select: text;
  text-decoration-line: none !important;
  text-overflow: clip !important;
}
.svg__hyNst {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
.foreground2 {
  flex-direction: column;
  display: flex;
  width: 100%;
  max-width: 1080px;
  align-self: center;
  min-width: 0;
}
.foreground2 > :global(.__wab_flex-container) {
  flex-direction: column;
  min-width: 0;
  margin-top: calc(0px - 32px);
  height: calc(100% + 32px);
}
.foreground2 > :global(.__wab_flex-container) > *,
.foreground2 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.foreground2 > :global(.__wab_flex-container) > picture > img,
.foreground2
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 32px;
}
.freeBox___2FqtP {
  flex-direction: column;
  display: flex;
  position: relative;
  padding-bottom: 48px;
}
.freeBox___2FqtP > :global(.__wab_flex-container) {
  flex-direction: column;
  margin-top: calc(0px - 32px);
  height: calc(100% + 32px);
}
.freeBox___2FqtP > :global(.__wab_flex-container) > *,
.freeBox___2FqtP > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox___2FqtP > :global(.__wab_flex-container) > picture > img,
.freeBox___2FqtP
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 32px;
}
.text__qqziE {
  font-size: 46px;
  font-weight: 800;
  line-height: 1;
  color: #ffffffd9;
  text-align: center;
  font-family: "Inter", sans-serif;
  font-style: normal;
  text-transform: none;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
}
.text__z3BTx {
  font-size: 20px;
  color: #ffffff80;
  text-align: center;
  line-height: 28px;
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-style: normal;
  text-transform: none;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
}
.freeBox__z4Jq {
  flex-direction: row;
  display: flex;
  position: relative;
}
.freeBox__z4Jq > :global(.__wab_flex-container) {
  flex-direction: row;
  justify-content: center;
  margin-left: calc(0px - 16px);
  width: calc(100% + 16px);
}
.freeBox__z4Jq > :global(.__wab_flex-container) > *,
.freeBox__z4Jq > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__z4Jq > :global(.__wab_flex-container) > picture > img,
.freeBox__z4Jq
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 16px;
}
.button2__eb0Rm:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
.svg__wnJb6 {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
.text__kdwAm {
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-weight: 500;
  font-style: normal;
  color: #ededec;
  text-align: left;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre;
  user-select: text;
  text-decoration-line: none !important;
  text-overflow: clip !important;
}
.svg___7H68X {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
.button2__pnDt:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
.svg__jgifu {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
.text__blz0M {
  color: #ffffffd9;
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-weight: 500;
  font-style: normal;
  text-align: left;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre;
  user-select: text;
  text-decoration-line: none !important;
  text-overflow: clip !important;
}
.svg__daJR {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
.graphQlFetcher:global(.__wab_instance) {
  width: 100%;
  max-width: 100%;
  object-fit: cover;
  position: relative;
  min-width: 0;
}
.freeBox__tny31 {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: stretch;
  justify-content: space-between;
  width: 100%;
  height: 100%;
  max-width: 980px;
  min-width: 0;
  min-height: 0;
}
.freeBox__dxq6O {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  width: 0px;
  height: 0px;
  background: rgba(68, 192, 255, 0.2);
  flex-shrink: 0;
}
.freeBox__iGciQ {
  flex-direction: row;
  display: flex;
  position: relative;
  width: auto;
  height: auto;
}
.freeBox__iGciQ > :global(.__wab_flex-container) {
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
}
@media (min-width: 0px) and (max-width: 800px) {
  .freeBox__iGciQ {
    display: flex;
    flex-direction: column;
  }
}
@media (min-width: 0px) and (max-width: 800px) {
  .freeBox__iGciQ > :global(.__wab_flex-container) {
    flex-direction: column;
    align-items: center;
    margin-left: calc(0px - 0px);
    width: calc(100% + 0px);
    margin-top: calc(0px - 80px);
    height: calc(100% + 80px);
  }
}
@media (min-width: 0px) and (max-width: 800px) {
  .freeBox__iGciQ > :global(.__wab_flex-container) > *,
  .freeBox__iGciQ > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .freeBox__iGciQ > :global(.__wab_flex-container) > picture > img,
  .freeBox__iGciQ
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 0px;
    margin-top: 80px;
  }
}
.freeBox__vPsH3 {
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  flex-direction: column;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 800px) {
  .freeBox__vPsH3 {
    left: auto;
    top: auto;
    align-items: center;
  }
}
.freeBox__i2EZ {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  width: 464px;
}
@media (min-width: 0px) and (max-width: 800px) {
  .freeBox__i2EZ {
    width: 322px;
  }
}
.text__qSLnr {
  font-size: 70px;
  font-weight: 700;
  color: rgb(255, 255, 255);
  font-family: "Eczar", serif;
  margin-right: 0px;
  text-align: left;
}
@media (min-width: 0px) and (max-width: 800px) {
  .text__qSLnr {
    text-align: center;
    font-size: 42px;
  }
}
@media (min-width: 0px) and (max-width: 400px) {
  .text__qSLnr {
    font-size: 36px;
  }
}
.text__zm89 {
  position: relative;
  font-size: 22px;
}
@media (min-width: 0px) and (max-width: 800px) {
  .text__zm89 {
    text-align: center;
    font-size: 18px;
  }
}
.freeBox__koqAk {
  width: 40%;
  height: auto;
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
}
@media (min-width: 0px) and (max-width: 800px) {
  .freeBox__koqAk {
    left: auto;
    top: auto;
    align-items: center;
  }
}
@media (min-width: 0px) and (max-width: 400px) {
  .freeBox__koqAk {
    width: 100%;
    min-width: 0;
  }
}
.text__rrAIt {
  font-size: 70px;
  font-weight: 700;
  color: rgb(255, 255, 255);
  font-family: "Eczar", serif;
}
@media (min-width: 0px) and (max-width: 800px) {
  .text__rrAIt {
    text-align: center;
    font-size: 42px;
  }
}
@media (min-width: 0px) and (max-width: 400px) {
  .text__rrAIt {
    font-size: 36px;
  }
}
.freeBox___1LYqo {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  width: auto;
  height: auto;
}
@media (min-width: 0px) and (max-width: 800px) {
  .freeBox___1LYqo {
    align-items: center;
  }
}
.copyableLink:global(.__wab_instance) {
  position: relative;
}
.freeBox__sLTqd {
  flex-direction: column;
  width: 40%;
  height: auto;
  display: flex;
  position: relative;
}
.freeBox__sLTqd > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  margin-top: calc(0px - 9px);
  height: calc(100% + 9px);
}
.freeBox__sLTqd > :global(.__wab_flex-container) > *,
.freeBox__sLTqd > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__sLTqd > :global(.__wab_flex-container) > picture > img,
.freeBox__sLTqd
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 9px;
}
@media (min-width: 0px) and (max-width: 800px) {
  .freeBox__sLTqd {
    width: auto;
  }
}
.freeBox__ytDs4 {
  flex-direction: row;
  display: flex;
  position: relative;
  height: auto;
  margin-top: calc(10px + 9px) !important;
  margin-left: -8px;
}
.freeBox__ytDs4 > :global(.__wab_flex-container) {
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  margin-left: calc(0px - 14px);
  width: calc(100% + 14px);
}
.freeBox__ytDs4 > :global(.__wab_flex-container) > *,
.freeBox__ytDs4 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__ytDs4 > :global(.__wab_flex-container) > picture > img,
.freeBox__ytDs4
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 14px;
}
@media (min-width: 0px) and (max-width: 800px) {
  .freeBox__ytDs4 {
    margin-left: 0px;
    margin-top: calc(10px + 9px) !important;
  }
}
@media (min-width: 0px) and (max-width: 800px) {
  .freeBox__ytDs4 > :global(.__wab_flex-container) {
    margin-left: calc(0px - 39px);
    width: calc(100% + 39px);
    margin-top: calc(0px - 0px);
    height: calc(100% + 0px);
  }
}
@media (min-width: 0px) and (max-width: 800px) {
  .freeBox__ytDs4 > :global(.__wab_flex-container) > *,
  .freeBox__ytDs4 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .freeBox__ytDs4 > :global(.__wab_flex-container) > picture > img,
  .freeBox__ytDs4
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 39px;
    margin-top: 0px;
  }
}
@media (min-width: 0px) and (max-width: 400px) {
  .freeBox__ytDs4 {
    margin-top: calc(10px + 9px) !important;
  }
}
.link__fktSu {
  position: relative;
  display: flex;
  flex-direction: row;
  padding: 8px;
}
.svg__z9D4Q {
  position: relative;
  object-fit: cover;
  width: 16px;
  height: 16px;
  color: #fafafa;
  flex-shrink: 0;
}
.link___0SwZ {
  position: relative;
  display: flex;
  flex-direction: row;
  padding: 8px;
}
.svg___3Swxo {
  position: relative;
  object-fit: cover;
  width: 16px;
  height: 16px;
  color: #fafafa;
  flex-shrink: 0;
}
.link__q4Y5G {
  position: relative;
  display: flex;
  flex-direction: row;
  padding: 8px;
}
.svg__kjkew {
  position: relative;
  object-fit: cover;
  width: 16px;
  height: 16px;
  color: #fafafa;
  flex-shrink: 0;
}
.freeBox__sKiFn {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  width: 0px;
  height: 0px;
  background: rgba(68, 192, 255, 0.2);
  flex-shrink: 0;
}
.freeBox__hmnaD {
  flex-direction: row;
  display: flex;
  width: 100%;
  position: relative;
  min-width: 0;
  padding: 16px;
}
.freeBox__hmnaD > :global(.__wab_flex-container) {
  flex-direction: row;
  justify-content: center;
  align-items: center;
  min-width: 0;
  margin-left: calc(0px - 16px);
  width: calc(100% + 16px);
}
.freeBox__hmnaD > :global(.__wab_flex-container) > *,
.freeBox__hmnaD > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__hmnaD > :global(.__wab_flex-container) > picture > img,
.freeBox__hmnaD
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 16px;
}
@media (min-width: 0px) and (max-width: 400px) {
  .freeBox__hmnaD {
    width: 100%;
    min-width: 0;
    padding: 32px;
  }
}
@media (min-width: 0px) and (max-width: 400px) {
  .freeBox__hmnaD > :global(.__wab_flex-container) {
    min-width: 0;
  }
}
.columns {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  flex-shrink: 0;
  flex-wrap: wrap;
  overflow: visible;
  mix-blend-mode: normal;
  flex-grow: 0;
  flex-basis: auto;
  background: none;
  min-width: 0;
  padding: 8px;
}
.columns > :nth-child(6n + 1) {
  width: calc((100% - 6 * 0px) * 2 / 12);
}
.columns > :nth-child(6n + 2) {
  width: calc((100% - 6 * 0px) * 2 / 12);
}
.columns > :nth-child(6n + 3) {
  width: calc((100% - 6 * 0px) * 2 / 12);
}
.columns > :nth-child(6n + 4) {
  width: calc((100% - 6 * 0px) * 2 / 12);
}
.columns > :nth-child(6n + 5) {
  width: calc((100% - 6 * 0px) * 2 / 12);
}
.columns > :nth-child(6n + 6) {
  width: calc((100% - 6 * 0px) * 2 / 12);
}
@media (min-width: 0px) and (max-width: 800px) {
  .columns {
    width: 100%;
    height: auto;
    flex-direction: row;
    flex-wrap: wrap;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 800px) {
  .columns > :nth-child(1n + 1) {
    width: calc((100% - 1 * 0px) * 12 / 12);
  }
}
.column__qV5Op {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
.img___1Sxt8 {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  border-radius: 20px;
}
.img___1Sxt8 > picture > img {
  object-fit: cover;
}
.img___1Sxt8 > :global(.__wab_img-spacer) > img {
  object-fit: cover;
}
.column__sYk2A {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
.img__a4Xrk {
  object-fit: contain;
  max-height: none;
  max-width: 1316px;
  width: 100%;
  align-self: flex-end;
  margin-left: 172px;
  min-width: 0;
  border-radius: 20px;
}
.img__a4Xrk > picture > img {
  object-fit: contain;
}
.img__a4Xrk > :global(.__wab_img-spacer) > img {
  object-fit: contain;
}
.column__qtonB {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
.img__ktUgt {
  object-fit: cover;
  max-width: 100%;
  width: auto;
  height: auto;
  border-radius: 20px;
}
.img__ktUgt > picture > img {
  object-fit: cover;
}
.img__ktUgt > :global(.__wab_img-spacer) > img {
  object-fit: cover;
}
.column__s1Mk6 {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
.img__zR6SK {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  border-radius: 20px;
}
.img__zR6SK > picture > img {
  object-fit: cover;
}
.img__zR6SK > :global(.__wab_img-spacer) > img {
  object-fit: cover;
}
.column__vcfox {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
.img__z9Jn {
  object-fit: cover;
  max-width: 100%;
  border-radius: 20px;
}
.img__z9Jn > picture > img {
  object-fit: cover;
}
.img__z9Jn > :global(.__wab_img-spacer) > img {
  object-fit: cover;
}
.column__m1UZp {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
.img__w8VV2 {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  height: auto;
  width: auto;
  border-radius: 20px;
}
.img__w8VV2 > picture > img {
  object-fit: cover;
}
.img__w8VV2 > :global(.__wab_img-spacer) > img {
  object-fit: cover;
}
